---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.centered-table {
  display: flex;
  justify-content: center;
  font-size: 100%;
}

.centered-table table {
  width: auto;
  border-collapse: collapse;
}